/* Why hello there, sexy.
   This is a CSS comment. Anything between /*  and * / will be like this.
   Comments have NO effect on your webpage. NONE! ZERO!

*/
 <style type="text/css">
    body {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    /* Custom container */
    .container-narrow {
      margin: 0 auto;
      max-width: 900px;
    }
    .container-narrow > hr {
      margin: 30px 0;
    }

    /* Main marketing message and sign up button */
    .jumbotron {
      margin: 60px 0;
      text-align: center;
    }
    .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
    }
    .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
    }

    h1 {
      font-size: 50px;
      margin-bottom: 30px;
    }
    img {
      width: 100%;
    }

    /* Supporting marketing content */
    .marketing {
      margin: 60px 0;
    }
    .marketing p + h4 {
      margin-top: 28px;
    }

    .split-exercise {
      margin-bottom: 20px
    }

    #task2 img {
      width: 50%;
    }

    #blinking-text {
      color: red;
    }

    .btn {
      margin-bottom: 15px;
    }

  </style>